/vendor/
/phpunit.xml
/.phpunit.cache/
/--cache-result/
/build/

###> symfony/framework-bundle ###
/resources/symfony/.env.local
/resources/symfony/.env.local.php
/resources/symfony/.env.*.local
/resources/symfony/config/secrets/prod/prod.decrypt.private.php
/resources/symfony/public/bundles/
/resources/symfony/var/
###< symfony/framework-bundle ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
